.admin-dash{
    display: flex;
    padding-top: 70px;
   
}
.admin-dash *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.admin-dash-content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 100%;
    transition: margin-left 0.3s ease; 

}
.admin-heading{
    margin-bottom: 10px;
}
.sidebar.close+.admin-dash-content{
    margin-left: -70px;
}
